
<% for(let i=0; i<carritoCompras.length; i++){%>
    <div class="col-md-3 col-sm-6">
       <div class="card" style="width: 18rem;">
          <img src="/images/productos/<%= carritoCompras[i].ID_SKU %>.jpg" class="card-img-top"  alt="...">
          <div class="card-body" id="<%= carritoCompras[i].ID_SKU %>">
             <h5 class="card-title"><%= carritoCompras[i].NOMBRE %></h5>
             <p class="card-text"><%= carritoCompras[i].MARCA%></p>
             <p class="card-text"><%= carritoCompras[i].DESCRIPCION%></p>
             <p class="card-text"><%= carritoCompras[i].PRECIO%></p>
             <a href="#" class="btn btn-success">Agrergar a carrito de compras</a>
          </div>
       </div>
    </div>
<%}%>

