<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Carrito de compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <div class="container height-margin-1">
            <diV class="row">
                <div class="col-lg-9 col-md-9 col-12 order-md-1 order-2">
                    <div class="col-12">
                        <h5>Carrito de compras</h5> 
                    </div>
                    <% if(carritoCompras.length > 0) { %>
                        <div class="col-12 scrollbar-container">
                            <%- include('./partials/carrito'); %>
                        </div>
                    <% }else{ %>

                        <h3 class="col-12">Tu carrito de compras esta vacío, te invitamos a seleccionar un producto</h3>
                        <img class="col-12" src="/images/carrito-vacio.gif">
                   <% } %>
                </div>
                <div class="col-lg-2 col-md-2 col-12 order-md-2 order-1">
                    <script type='text/javascript'>
                        function getProductsTotalPrice()
                        {
                           var items = document.getElementsByClassName('item-shopping-car');
                           var totalPrice = 0;
                           var itemsLength = '<%= carritoCompras.length %>'
                           for(let i = 0; i < itemsLength; i++)
                            {
                                var priceItem = items[i].getElementsByClassName('price')[0].getAttribute('value');
                                var itemQuantity = items[i].getElementsByClassName('quantity')[0];
                                for(let j = 0; j < itemQuantity.options.length; j++)
                                {
                                    if(itemQuantity.options[j].selected === true)
                                    {
                                        totalPrice += (priceItem * itemQuantity.options[j].value);
                                        break;
                                    }
                                }
                            } 
                            document.getElementById('totalCompra').textContent = "Total de compra: $" + totalPrice;
                            return totalPrice;
                        }

                        function onChangeItemsQuantity(event)
                        {
                            getProductsTotalPrice();
                            getData();
                        }

                        function getData()
                        {
                            var data = []
                            var items = document.getElementsByClassName('item-shopping-car');
                           var itemsLength = '<%= carritoCompras.length %>'
                           for(let i = 0; i < itemsLength; i++)
                            {
                                let producto = {cantidad: "", id: ""}
                                producto.id = items[i].getAttribute('value')
                                producto.cantidad = items[i].getElementsByClassName('quantity')[0].value;
                                data.push(producto);
                            } 
                            var http = new XMLHttpRequest();
                            var url = '/carritocompras';
                            var params = {datos: data};
                            http.open('POST', url, true);

                            http.setRequestHeader('Content-type', 'application/json');

                            http.onreadystatechange = function() 
                            {
                                if(http.readyState == 4 && http.status == 200) {
                                }
                            }
                            http.send(JSON.stringify(params));
                        }
                    </script>
                    <h4 class="justify-content-center d-flex" id='totalCompra'>Total de compra: $ </h4>
                    <script>getProductsTotalPrice();</script>
                    <% if(carritoCompras.length > 0) { %>
                        <%- include('./partials/buttonPaypal'); %>
                    <% } %>
                </div>
                <script>
                    
                </script>
            </diV>
            
        </div>
    </body>
</html>