<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Carrito de compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <h1>Carrito de compras</h1> 
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <%- include('./partials/carrito'); %>
                </div>
                <div class="col-3">
                    <div class="col-12">
                        <h2>$ <%= totalProductos %> </h2>
                    </div>
                    <div class="col-12">
                        <% if(carritoCompras.length > 0) { %>
                            <%- include('./partials/paypalBtn'); %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>