<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Carrito de compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <h1>Carrito de compras</h1> 
        <div class="container">
            <div class="row">
                <%- include('./partials/carrito'); %>
                <h2><%= totalCompra %></h2>
            </div>
            <%- include('./partials/buttonPaypal'); %>
        </div>
    </body>
</html>