<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Actualizar Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <div class="row all-area">
         <div class="col-lg-3 col-md-12 col-12">
            <%- include('./partials/menu-productos'); %>
         </div>
         <div class="col-lg-9 col-md-12 col-12">
            <div class="content container">
               <% if(error) { %>
                  <div class="alert alert-danger">
                      <button class="close" data-dismiss="alert"><span>&times;</span></button>
                      <%= mensajeError %>
                  </div>
              <% } %>
               <div class="row justify-content-center top-margin-3">
                  <h3 class="text-center">Ingrese los datos a modificar del producto</h3>
               </div>
               <div class="row justify-content-center top-margin-5">
                  <form action="/administrador/productos/actualizar/<%= producto.ID_SKU %>" method="POST">
                     <div class="form-group">
                        <div class="col-12">
                           <h5>Nombre</h5>
                           <input class="form-control" type="text" name="nombre" value="<%= producto.NOMBRE %>"/>
                        </div>
                     </div>
                     <div class="form-group">
                         <div class="col-12">
                            <h5>Precio</h5>
                            <input class="form-control" type="number" name="precio" value="<%= producto.PRECIO %>"/>
                         </div>
                      </div>
                      <div class="form-group">
                         <div class="col-12">
                            <h5>Cantidad</h5>
                            <input class="form-control" type="number" name="cantidad" value="<%= producto.CANTIDAD %>"/>
                         </div>
                      </div>
                      <div class="form-group">
                         <div class="col-12">
                            <h5>Marca</h5>
                            <input class="form-control" type="text" name="marca" value="<%= producto.MARCA%>"/>
                         </div>
                      </div>
                      <div class="form-group">
                         <div class="col-12">
                            <h5>Descripción</h5>
                            <input class="form-control" type="text" name="descripcion" value="<%= producto.DESCRIPCION%>"/>
                         </div>
                      </div>
                     <div class="form-group">
                        <div class="col-12 justify-content-center d-flex">
                           <input class="btn btn-primary col-12" type="submit" value="Actualizar Producto"/>
                        </div>
                     </div>          
                 </form>
               </div>
            </div>
         </div>
    </body>
</html>