<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Administrar Empleados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <%- include('./partials/menu-empleados'); %>
        <% if(alertaModulos) { %>
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <%= mensajeAlertaModulos %>
            </div>
        <% } %>
        <h1>Administrar empleados</h1>
        <h2>Hola <%= administrador.NOMBRE + ' ' + administrador.APELLIDO_P%></h2>
        <% if(busqueda){ %>
            <div class="container">
                <%- include('./partials/contenedor-empleados-buscador'); %>
            </div>
        <% }else{ %>
            <h3>No se han buscado empleados</h3>
        <% } %>      
    </body>
</html>