<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Administrar Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <div class="row all-area">
            <div class="col-lg-3 col-md-12 col-12">
                <%- include('./partials/menu-usuarios'); %>
            </div>
            <div class="col-lg-9 col-md-12 col-12">
                <div class="content">
                    <% if(alertaModulos) { %>
                        <div class="alert alert-info">
                            <button class="close" data-dismiss="alert"><span>&times;</span></button>
                            <%= mensajeAlertaModulos %>
                        </div>
                    <% } %>
                    <h1 class="text-center">Administrar usuarios</h1>
                    <% if(busqueda){ %>
                        <h2 class="text-center">Resultados de la busqueda</h2>
                        <div class="container">
                            <%- include('./partials/contenedor-usuarios-buscador'); %>
                        </div>
                    <% }else{ %>
                        <h3 class="text-center">No se han buscado usuarios</h3>
                    <% } %>
                </div>
            </div>
        </div>
    </body> 
</html>